<!-- PAGE -->
<section class="page-section with-sidebar sidebar-right first-section">
    <div class="container">

        <!-- Content -->
        <section id="content" class="content">
            <div class="row">
                <div class="col-sm-6">
                    <h1 class="section-title">
                        <span data-animation="flipInY" data-animation-delay="100" class="icon-inner"><span class="fa-stack"><i class="fa rhex fa-stack-2x"></i><i class="fa fa-question-circle fa-stack-1x"></i></span></span>
                        <span data-animation="fadeInRight" data-animation-delay="100" class="title-inner">About Us</span>
                    </h1>
                    <p>GoTute’s mission is to provide opportunities for students to achieve academic success. Students can search on-going tutoring or once-off tutors, or IELTS preparation courses by filtering tutor areas, gender and hourly rate.</p>
                    <p data-animation="fadeInUp" data-animation-delay="200" class="text-uppercase">Go Tute Pty Ltd<br/>
                        45 Stott Street, Box Hill South, <br/>
                        VIC, Australia</p>
                </div>
                <div class="col-sm-6">
                    <img src="assets/img/about-us.jpg">
                </div>
            </div>
        </section>
        <!-- /Content -->

    </div>
</section>
<!-- /PAGE -->




<section class="page-section">
    <div class="container">

        <h1 class="section-title">
            <span data-animation="flipInY" data-animation-delay="100" class="icon-inner"><span class="fa-stack"><i class="fa rhex fa-stack-2x"></i><i class="fa fa-question-circle fa-stack-1x"></i></span></span>
            <span data-animation="fadeInRight" data-animation-delay="100" class="title-inner">STUDENT FAQ</span>
        </h1>
        <div class="row faq-alt">
            <div class="col-md-12">

                <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne1">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                                    What is the average hourly rate?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne1">
                            <div class="panel-body">
                                Tutor’s hourly rate depends on the distance travelled and the number of students attending a session. We encourage students to contact a few tutors in order to compare their hourly rate. In most circumstances better tutor charges more fees.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo1">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo1">
                                    What if I don't like the tutor?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo1">
                            <div class="panel-body">
                                Students can search the tutor and click Review a Tutor button.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree1">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1" aria-expanded="false" aria-controls="collapseThree1">
                                    Do you have tutors that specialise in helping children with learning disabilities?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree1">
                            <div class="panel-body">
                                Refer to tutor’s detailed descriptions for special requirements.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour1">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour1" aria-expanded="false" aria-controls="collapseFour1">
                                    How do I pay the tutor? What forms of payment do you accept?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour1">
                            <div class="panel-body">
                                Most tutors prefer cash and some tutors offer first lesson free.
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="container">
        <h1 class="section-title">
            <span data-animation="flipInY" data-animation-delay="100" class="icon-inner"><span class="fa-stack"><i class="fa rhex fa-stack-2x"></i><i class="fa fa-plus fa-stack-1x"></i></span></span>
            <span data-animation="fadeInRight" data-animation-delay="100" class="title-inner">Contact Us<small> / tell us your feedback</small></span>
        </h1>

        <form name="feedbackForm" ng-submit="sendFeedback()" novalidate>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group with-icon" ng-class="{'has-error': feedbackForm.name.$invalid && feedbackForm.name.$touched}">
                    <i class="fa fa-user"></i>
                    <input
                            type="text" name="name" placeholder="Your name"
                            ng-model="feedback.name" required
                            class="form-control placeholder"/>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group with-icon" ng-class="{'has-error': feedbackForm.contact.$invalid && feedbackForm.contact.$touched}">
                    <i class="fa fa-globe"></i>
                    <input
                            type="text" name="contact"  placeholder="Your contact number / email"
                            ng-model="feedback.contact" required
                            class="form-control placeholder"/>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group" ng-class="{'has-error': feedbackForm.message.$invalid && feedbackForm.message.$touched}">
                    <textarea
                        name="message" id="input-message" placeholder="Your Message..." rows="6" cols="50"
                        ng-model="feedback.message" required
                        class="form-control placeholder"></textarea>
                </div>
            </div>

            <div class="col-sm-12 text-center">
                <div class="form-group">
                    <input type="submit" ng-disabled="feedbackForm.$invalid" class="form-button form-button-submit btn btn-theme btn-theme-lg btn-theme-transparent"  value="Send" />
                </div>
            </div>
        </div>
        </form>
    </div>
</section>