.multipage .pagination > li > span {
    border-radius: 4px;
    padding: 10px 18px;
    margin: 0 10px 0 0;
    background-color: #f1f2f3;
}

/* style.css */
/* BASIC STYLINGS
============================================================================= */
body {
    padding-top: 20px;
}

/* form styling */
#form-container {
    margin-bottom: 20px;
    border-radius: 5px;
}

#form-container .page-header {
    margin-bottom: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* numbered buttons */
#status-buttons {
}

#status-buttons a {
    display: inline-block;
    font-size: 20px;
    margin: 20px 120px 0 30px;
    text-align: center;
    text-transform: uppercase;
}

#status-buttons a:hover {
    text-decoration: none;
}

/* we will style the span as the circled number */
#status-buttons span {
    background: #226948;
    color: #ffffff;
    display: block;
    height: 50px;
    margin: 0 auto 10px;
    padding-top: 10px;
    width: 50px;
    border-radius: 50%;
}

/* active buttons turn light green-blue*/
#status-buttons a.active span {
    background: #00BC8C;
}

/* active buttons turn light green-blue*/
#status-buttons a.hover span {
    background: #00BC8C;
}

.input-group .form-control:not(:first-child):not(:last-child),
.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child) {
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
}

.form-horizontal .control-label{
    text-align:left !important;
}

.btn-theme-danger {
    color: #ffffff;
    background-color: #dc143c;
    border-color: #dc143c;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    border-radius: 10px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.btn-theme-danger,
.btn-theme-danger:hover,
.btn-theme-danger:active,
.btn-theme-danger.active {
    border-radius: 10px;
}

.form-control {
    height: 47px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.thumb {
    width: 250px;
    height:250px;
    position: relative;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.google-map1 {
    margin-bottom: 10px;
}

.btn-default,
.btn-default:hover,
.btn-default:focus{
    border-color: #226948;
    background-color: transparent;
    border-radius:5px;
}

.slider-handle {
    background-image: -webkit-linear-gradient(top, #2E9063 0%, #2E9063 100%);
    background-image :linear-gradient(to bottom, #2E9063 0%, #2E9063 100%);
}

.slider-selection {
    background-image: -webkit-linear-gradient(top, rgba(220, 20, 60, 0.8)  0%, rgba(220, 20, 60, 0.8)  100%);
}

#locations,
#subjects {
    margin-bottom: 10px;
}

.pagination-wrapper {
    text-align: center;
}

.listing-meta .filters span {
    background-color: #f1f2f3;
    color: #435469;
    border-radius: 4px;
    font-size: 14px;
    line-height: 28px;
    padding: 0 0 0 8px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    margin-right: 8px;
}

.listing-meta .filters a {
    background-color: transparent;
    border-radius: 0;
    font-size: 14px;
    line-height: 28px;
    padding: 0 8px;
    display: inline-block;
}

.listing-meta .filters a .fa {
    color: #96a0aa;
}

.listing-meta .filters a:hover {
    background-color: transparent;
}

.listing-meta .filters a:hover .fa {
    color: #435469;
}