.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin-left: 25px;
}

.tutor-image:hover {
    cursor: pointer;
}
.tutor-image .male {
    width: 160px;
    height: 160px;
    background: #ffffff url("/assets/img/avatar-no-image.jpg") no-repeat 0 0;
}

.tutor-image .female {
    width: 160px;
    height: 160px;
    background: #ffffff url("/assets/img/avatar-no-image.jpg") no-repeat -160px 0;
}

.line-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    height: 20px;
}

.line-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    height: 40px;
}

.line-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    height: 60px;
}