<div id="main">
    <!-- SLIDER -->
    <section class="page-section no-padding color">
        <div class="container">

            <div id="main-slider">

                <!-- Slide -->
                <div class="item page text-center slide0">
                    <div class="caption">
                        <div class="container">
                            <div class="div-table">
                                <div class="div-cell">
                                    <div class="caption-subtitle" data-animation="fadeInUp" data-animation-delay="300"><i class="fa fa-warning"></i></div>
                                    <h3 class="caption-subtitle" data-animation="fadeInUp" data-animation-delay="300">Error 404</h3>
                                    <h2 class="caption-title" data-animation="fadeInDown" data-animation-delay="100">{{error.message}}</h2>
                                    <p class="caption-text">
                                        <a class="btn btn-theme btn-theme-xl scroll-to" ui-sref="home" data-animation="flipInY" data-animation-delay="600"> Go to Homepage <i class="fa fa-arrow-circle-right"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- /SLIDER -->
</div>