<div id="preloader">
    <div id="status">
        <div class="spinner"></div>
    </div>
</div>

<section class="page-section with-sidebar first-section">
    <div class="container">
        <h1 class="section-title">
            <span class="icon-inner"><span class="fa-stack"><i class="fa rhex fa-stack-2x"></i><i
                            class="fa fa-user fa-stack-1x"></i></span></span>
            <span class="title-inner">Update my profile</span>
        </h1>
        <section id="content" class="content col-sm-12 col-md-8 col-lg-9">
            <form class="form-horizontal" name="profileForm" novalidate>
                <div class="form-group" ng-class="{'has-error': profileForm.name.$invalid && profileForm.name.$dirty}">
                    <label for="name" class="col-md-2 col-lg-2 control-label">Name: </label>
                    <div class="col-md-9 col-lg-9">
                        <input type="text" name="name" id="name" placeholder="Your Name"
                               ng-model="tutor.name" required
                               class="form-control placeholder"/>
                        <div ng-messages="profileForm.name.$error" ng-show="profileForm.name.$touched" class="text-danger" role="alert">
                            <small ng-message="required">Name is required</small>
                        </div>
                    </div>
                </div>

                <div class="form-group" ng-class="{'has-error': profileForm.phone.$invalid && profileForm.phone.$dirty}">
                    <label for="phone" class="col-md-2 col-lg-2 control-label">Phone: </label>
                    <div class="col-md-9 col-lg-9">
                        <input type="text" name="phone" id="phone" placeholder="Your Phone"
                               ng-model="tutor.phone" required
                               class="form-control placeholder"/>
                    </div>
                </div>

                <div class="form-group" ng-class="{'has-error': profileForm.gender.$invalid && profileForm.gender.$dirty}">
                    <label for="gender" class="col-md-2 control-label">Gender: </label>
                    <div class="col-md-7">
                        <select class="form-control" ng-model="tutor.gender" id="gender"
                                ng-options="gender for gender in genderOptions track by gender"
                                required>
                            <option value="" selected>Please select gender...</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Hourly Rate: </label>
                    <div class="col-md-1">
                        ${{rate[0]}}
                    </div>
                    <div class="col-md-5">
                        <slider ng-model="rate" min="rateOptions.min" step="rateOptions.step" max="rateOptions.max"
                                value="rateOptions.value" range="true" formatter="formatRate(rate)"></slider>
                    </div>
                    <div class="col-md-2">${{rate[1]}}</div>
                </div>

                <div class="form-group">
                    <label for="location" class="col-md-2 control-label">Location: </label>
                    <div class="col-md-9">

                        <p ng-model="tutor.locations[$index]"
                           ng-repeat="location in tutor.locations track by location.id">
                            <label>{{location.text}}</label>
                            <span class="btn btn-danger btn-sm pull-right fa fa-times"
                                  ng-click="removeOption($index, 'locations')">
                            </span>
                        </p>

                        <div ng-if="location.editing">
                            <input type="text" class="col-sm-10 col-xs-9"
                                   placeholder="Search locations..."
                                   id="location"
                                   ng-model="location.text"
                                   uib-typeahead="location as location.text for location in getLocations($viewValue)"
                                   typeahead-on-select="addLocation($item)"
                                   autocomplete="off"/>
                            <span class="btn btn-danger btn-sm pull-right fa fa-times" ng-click="location.editing = false"> </span>
                        </div>
                        <button type="button" ng-if="!location.editing" ng-click="location.editing = true"
                                class="btn btn-theme btn-theme-sm btn-theme-transparent">Add another location</button>
                    </div>
                </div>

                <div class="form-group">
                    <label for="subject" class="col-md-2 control-label">Subject: </label>
                    <div class="col-md-9">

                        <p ng-model="tutor.subjects[$index]"
                           ng-repeat="subject in tutor.subjects">
                            <label>{{subject}}</label>
                            <span class="btn btn-danger btn-sm pull-right fa fa-times"
                                  ng-click="removeOption($index, 'subjects')">
                            </span>
                        </p>

                        <div ng-if="subject.editing">
                            <input type="text" class="col-sm-10 col-xs-9"
                                   placeholder="Search subjects..."
                                   id="subject"
                                   ng-model="subject.text" ng-keypress="subjectKeyPressed($event)"
                                   uib-typeahead="subject as subject.text for subject in getSubjects($viewValue)"
                                   typeahead-on-select="addSubject($item)"
                                   autocomplete="off"/>
                            <div class="pull-right">
                                <span class="btn btn-danger btn-sm fa fa-check" ng-click="addSubject(subject.text)"></span>
                                <span class="btn btn-danger btn-sm fa fa-times" ng-click="subject.editing = false"> </span>
                            </div>

                        </div>

                        <button type="button" ng-if="!subject.editing" ng-click="subject.editing = true"
                                class="btn btn-theme btn-theme-sm btn-theme-transparent">Add another Subject</button>
                    </div>
                </div>

                <div class="form-group" ng-class="{'has-error': profileForm.description.$invalid && profileForm.description.$dirty}">
                    <label for="description" class="col-md-2 control-label">Description: </label>
                    <div class="col-md-9">
                <textarea id="description" placeholder="Type Your Description..." rows="6" cols="50"
                          data-toggle="tooltip" title="Description is required" name="description"
                          ng-model="tutor.description"
                          class="form-control placeholder"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12 col-md-8 col-lg-8">
                        <input type="submit" class="btn btn-theme btn-theme-md btn-theme-transparent pull-right"
                               value="Save" gt-action="updateProfile(tutor)" ng-disabled="profileForm.$invalid || !tutor.locations.length || !tutor.subjects.length"/>
                    </div>
                </div>
            </form>
        </section>

        <aside class="sidebar col-sm-4 col-md-3">
            <upload-photo tutor-image-url="{{tutorImageUrl}}" token="imageUploadToken"></upload-photo>
        </aside>

    </div>
</section>
