<div class="col-sm-6 col-sm-offset-3">
    <div class="form-group with-icon" ng-class="{'has-error':form.email.$invalid && form.email.$dirty}">
        <i class="fa fa-envelope"></i>
        <input type="email" name="email" placeholder="Email" ng-model="user.email"
               required title="Email is required"
               class="form-control placeholder"/>
        <div class="text-danger" ng-messages="form.email.$error" ng-show="form.email.$dirty" role="alert">
            <small ng-message="required">Email is required</small>
            <small ng-message="email">Email must be in correct format</small>
        </div>
    </div>
</div>

<div class="col-sm-6 col-sm-offset-3">
    <div class="form-group with-icon" ng-class="{'has-error':form.password.$invalid && form.password.$dirty}">
        <i class="fa fa-key"></i>
        <input type="password" name="password" id="password" placeholder="Password" ng-model="user.password"
               required title="Password is required" ng-minlength="6"
               class="form-control placeholder"/>
        <div class="text-danger" ng-messages="form.password.$error" ng-show="form.password.$dirty" role="alert">
            <small ng-message="required">Password is required</small>
            <small ng-message="minlength">Password must be at least 6 characters in length</small>
        </div>
    </div>
</div>