<div class="col-lg-6 col-md-10 col-lg-offset-3 col-mdd-offset-1">
    <div class="form-group with-icon" ng-class="{'has-error':form.email.$invalid && form.email.$touched}">
        <i class="fa fa-envelope"></i>
        <input type="email" name="email" placeholder="Email" ng-model="$parent.user.email"
               required title="Email is required"
               class="form-control placeholder"/>
        <div class="text-danger" ng-messages="form.email.$error" ng-show="form.email.$touched" role="alert">
            <small ng-message="required">Email is required</small>
            <small ng-message="email">Email must be in correct format</small>
        </div>
    </div>
</div>

<div class="col-lg-6 col-md-10 col-lg-offset-3 col-md-offset-1">
    <div class="form-group with-icon" ng-class="{'has-error':form.password.$invalid && form.password.$touched}">
        <i class="fa fa-key"></i>
        <input type="password" name="password" id="password" placeholder="Password" ng-model="$parent.user.password"
               required title="Password is required" ng-minlength="6"
               class="form-control placeholder"/>
        <div class="text-danger" ng-messages="form.password.$error" ng-show="form.password.$touched" role="alert">
            <small ng-message="required">Password is required</small>
            <small ng-message="minlength">Password must be at least 6 characters in length</small>
        </div>
    </div>
</div>