<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"><![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <title>Go Tute</title>

    <!-- Favicons -->
    <!--<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png">-->
    <!--<link rel="shortcut icon" href="/assets/ico/favicon.ico">-->


    <!--
    Selectize theme
    Less versions are available at https://github.com/brianreavis/selectize.js/tree/master/dist/less-->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.bootstrap3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- build:css -->
    <link type="text/css" rel="stylesheet" href="app.main.css">
    <!-- endbuild -->

    <!--[if lt IE 9]>
    <script src="/vendor/iesupport/html5shiv.js"></script>
    <script src="/vendor/iesupport/respond.min.js"></script>

    <![endif]-->
</head>
<body id="home" class="wide body-light multipage">

<!-- Wrap all content -->
<div class="wrapper">
    <!-- HEADER -->
    <header class="header fixed">

        <!-- Top Line -->
        <div class="top-line">
            <div class="container">
                <ul class="user-menu">
                    <li ng-hide="currentUser" class="ng-cloak"><a ui-sref="register"><i class="glyphicon glyphicon-tag"></i> Become A Tutor</a></li>
                    <li ng-hide="currentUser" class="ng-cloak"><a ui-sref="login"><i class="glyphicon glyphicon-log-in"></i> Tutor Login</a></li>
                    <li ng-show="currentUser" class="ng-cloak"></i> Welcome, {{currentUser.displayName}}</li>
                    <li ng-show="currentUser" class="ng-cloak"><a ui-sref="login" ng-click="auth.logoutUser()"><i class="glyphicon glyphicon-log-out"></i> Tutor Logout</a></li>
                </ul>
            </div>
        </div>
        <!-- /Top Line -->

        <div class="container">
            <div class="header-wrapper clearfix">

                <!-- Logo -->
                <div class="logo">
                    <a href="/" class="scroll-to">
                        <img src="assets/img/logo-new.png " alt="" >
                    </a>
                </div>
                <!-- /Logo -->

                <!-- Logo -->
                <div class="logo">
                    <a href="#home" class="scroll-to">

                    </a>
                </div>
                <!-- /Logo -->

                <!-- Navigation -->
                <div id="mobile-menu"></div>
                <nav class="navigation closed clearfix">
                    <a href="#" class="menu-toggle btn"><i class="fa fa-bars"></i></a>
                    <ul class="sf-menu nav">
                        <li ui-sref-active="active">
                            <a ui-sref="home">Home</a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="tutors">Tutors</a>
                        </li>

                        <li ui-sref-active="active">
                            <a ui-sref="about-us">About Us</a>
                        </li>
                        <li ng-if="currentUser">
                            <a href="#" class="sf-with-ul ng-cloak">My Account</a>
                            <ul>
                                <li><a ui-sref="user.profile"><i class="glyphicon glyphicon-user"></i> Profile</a></li>
                                <li><a ui-sref="user.enquiries"><i class="glyphicon glyphicon-inbox"></i> Enquiries</a></li>
                                <li><a ui-sref="user.account"><i class="glyphicon glyphicon-user"></i> Account</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- /Navigation -->

            </div>
        </div>
    </header>
    <!-- /HEADER -->

    <!-- Content area -->
    <div class="content-area">
        <div ui-view autoscroll="true"></div>
    </div>
    <!-- /Content area -->

    <!-- FOOTER -->
    <footer class="footer">

        <div class="footer-meta footer-meta-alt">
            <div class="container">

                <div class="row">
                    <div class="col-md-9 col-sm-6">
                        <ul class="footer-menu">
                            <li><a ui-sref="about-us" >About</a></li>
                            <li><a ui-sref="tutors" >Tutors</a></li>
                            <li>All Rights Reserved</li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6">

                    </div>
                </div>

            </div>
        </div>
    </footer>

    <!-- /FOOTER -->

    <div class="to-top"><i class="fa fa-angle-up"></i></div>


</div>


<!-- /Wrap all content -->

<!-- build:js -->
<script src="app.main.js"></script>
<!-- endbuild -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<!--[if lt IE 9]><script src="/assets/plugins/jquery/jquery-1.11.1.min.js"></script><![endif]-->

<script type="text/javascript">
  "use strict";
  jQuery(document).ready(function () {
      theme.init();
  });

  jQuery(document).ready(function () {
      theme.onResize();
  });
  jQuery(window).load(function () {
      theme.onResize();
  });
  jQuery(window).resize(function () {
      theme.onResize();
  });

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74241203-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
