<!-- account.html -->
<div class="row">

    <div class="col-sm-8 af-outer af-required col-sm-offset-2" >
        <div class="form-group af-inner with-icon">
            <i class="fa fa-envelope"></i>
            <input
                    type="text" name="email" id="email" placeholder="Your Email Here" value="" size="30"
                    data-toggle="tooltip" title="Name is required"
                    class="form-control placeholder"/>
        </div>
    </div>

    <div class="col-sm-8 af-outer af-required col-sm-offset-2">
        <div class="form-group af-inner with-icon">
            <i class="fa fa-key"></i>
            <input
                    type="password" name="password" id="password" placeholder="Password" value="" size="30"
                    data-toggle="tooltip" title="Password is required"
                    class="form-control placeholder"/>
        </div>
    </div>

    <div class="col-sm-8 af-outer af-required col-sm-offset-2">
        <div class="form-group af-inner with-icon">
            <i class="fa fa-key"></i>
            <input
                    type="password" name="confirm-password" id="confirm-password" placeholder="Confirm Password" value="" size="30"
                    data-toggle="tooltip" title="Confirm your password"
                    class="form-control placeholder"/>
        </div>
    </div>

    <!--<div class="col-sm-12 af-outer af-required">-->
        <!--<div class="form-group af-inner with-icon">-->
            <!--<i class="fa fa-globe"></i>-->
            <!--<input-->
                    <!--type="text" name="subject" id="subject" placeholder="What subject" value="" size="30"-->
                    <!--data-toggle="tooltip" title="Subject is required"-->
                    <!--class="form-control placeholder"/>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="col-sm-12 af-outer af-required">-->
        <!--<div class="form-group af-inner">-->
                                    <!--<textarea-->
                                            <!--name="message" id="input-message" placeholder="Type Your Message..." rows="6" cols="50"-->
                                            <!--data-toggle="tooltip" title="Message is required"-->
                                            <!--class="form-control placeholder"></textarea>-->
        <!--</div>-->
    <!--</div>-->

    <div class="col-sm-8 af-outer af-required text-center col-sm-offset-2">
        <div class="form-group af-inner">
            <input type="submit" name="submit" class="form-button form-button-submit btn btn-theme btn-theme-lg btn-theme-transparent btn-block" id="submit_btn" value="Next" />
        </div>
    </div>
</div>