<section class="page-section image breadcrumbs overlay">
    <div class="container">
        <h1>REGISTER</h1>
        <ul class="breadcrumb">
            <li><a ui-sref="home">Home</a></li>
            <li class="active">REGISTER</li>
        </ul>
    </div>
</section>

<section class="page-section with-sidebar sidebar-right first-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <h1>You have 10 inquiries</h1>
                
            </div>
        </div>
    </div>
</section>