<!-- profile.html -->
<div class="row">

    <div class="col-sm-4 col-sm-offset-2" >
        <div class="form-group af-inner with-icon">
            <i class="fa fa-user"></i>
            <input
                    type="text" name="first-name" id="first-name" placeholder="First Name" value="" size="30"
                    data-toggle="tooltip" title="First name is required"
                    class="form-control placeholder"/>
        </div>
    </div>

    <div class="col-sm-4" >
        <div class="form-group af-inner with-icon">
            <i class="fa fa-user"></i>
            <input
                    type="text" name="last-name" id="last-name" placeholder="Last Name" value="" size="30"
                    data-toggle="tooltip" title="Last name is required"
                    class="form-control placeholder"/>
        </div>
    </div>

    <div class="col-sm-4 col-sm-offset-2">
        <div class="form-group af-inner with-icon">
            <i class="fa fa-key"></i>
            <input
                    type="password" name="password" id="gender" placeholder="Gender" value="" size="30"
                    data-toggle="tooltip" title="Password is required"
                    class="form-control placeholder"/>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="form-group af-inner with-icon">
            <i class="fa fa-key"></i>
            <input
                    type="password" name="password" id="password" placeholder="Password" value="" size="30"
                    data-toggle="tooltip" title="Password is required"
                    class="form-control placeholder"/>
        </div>
    </div>


    <div class="col-sm-8 col-sm-offset-2">
        <div class="form-group af-inner with-icon">
            <i class="fa fa-key"></i>
            <input
                    type="password" name="password" id="password" placeholder="Password" value="" size="30"
                    data-toggle="tooltip" title="Password is required"
                    class="form-control placeholder"/>
        </div>
    </div>

    <div class="col-sm-8  col-sm-offset-2">
        <div class="form-group af-inner with-icon">
            <i class="fa fa-key"></i>
            <input
                    type="password" name="confirm-password" id="confirm-password" placeholder="Confirm Password" value="" size="30"
                    data-toggle="tooltip" title="Confirm your password"
                    class="form-control placeholder"/>
        </div>
    </div>

    <div class="col-sm-8 col-sm-offset-2">
    <div class="form-group af-inner with-icon">
    <i class="fa fa-globe"></i>
    <input type="text" name="subject" id="subject" placeholder="What subject" value="" size="30"
    data-toggle="tooltip" title="Subject is required"
    class="form-control placeholder"/>
    </div>
    </div>

    <div class="col-sm-8 col-sm-offset-2">
    <div class="form-group af-inner">
    <textarea
    name="message" id="input-message" placeholder="Type Your Message..." rows="6" cols="50"
    data-toggle="tooltip" title="Message is required"
    class="form-control placeholder"></textarea>
    </div>
    </div>

    <div class="col-sm-8 text-center col-sm-offset-2">
        <div class="form-group af-inner">
            <input type="submit" name="submit" class="form-button form-button-submit btn btn-theme btn-theme-lg btn-theme-transparent btn-block" id="submit_btn" value="Next" />
        </div>
    </div>
</div>