<section class="page-section image breadcrumbs overlay">
    <div class="container">
        <h1>REGISTER</h1>
        <ul class="breadcrumb">
            <li><a ui-sref="home">Home</a></li>
            <li class="active">REGISTER</li>
        </ul>
    </div>
</section>

<section class="page-section with-sidebar sidebar-right first-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">


                    <div class="page-header text-center">
                        <h1>Become a tutor for FREE</h1>

                        <!-- the links to our nested states using relative paths -->
                        <!-- add the active class if the state matches our ui-sref -->
                        <div id="status-buttons" class="text-center">
                            <a><span>1</span> Sign Up</a>
                            <a><span>2</span> Get Leads</a>
                            <a><span>3</span> Profit</a>
                        </div>
                    </div>

                    <div >
                        <h2 class="page-header text-center">Member Benefits</h2>

                            <div class="col-md-4" >
                                <p>Recieve instant email/SMS notification when an inquiry is made</p>
                            </div>
                            <div class="col-md-4">
                                <p>Update your profile to maximize the opportunity to been seen</p>
                            </div>
                            <div class="col-md-4">
                                <p>Free membership for a limited time</p>
                            </div>

                    </div>
            </div>
            <div class="col-sm-12 col-md-12" id="form-container">
                <!-- use ng-submit to catch the form submission and use our Angular function -->

                    <form id="signup-form" ng-submit="signUp(email,password)" name="sigUp-form">

                        <!-- our nested state views will be injected here -->
                        <!-- register.html -->
                        <div class="row">

                            <div class="col-sm-8 col-sm-offset-2">
                                <div class="form-group with-icon">
                                    <i class="fa fa-envelope"></i>
                                    <input type="text" name="email" id="email" placeholder="Your Email Here" ng-model="email"
                                            data-toggle="tooltip" title="Email is required"
                                            class="form-control placeholder"/>
                                </div>
                            </div>

                            <div class="col-sm-8 col-sm-offset-2">
                                <div class="form-group with-icon">
                                    <i class="fa fa-key"></i>
                                    <input type="password" name="password" id="password" placeholder="Password" ng-model="password"
                                            data-toggle="tooltip" title="Password is required"
                                            class="form-control placeholder"/>
                                </div>
                            </div>

                            <div class="col-sm-8 text-center col-sm-offset-2">
                                <div class="form-group">
                                    <input type="submit" name="submit"
                                           class="form-button form-button-submit btn btn-theme btn-theme-lg btn-theme-transparent btn-block"
                                           id="submit_btn" value="Register"/>
                                </div>
                            </div>
                        </div>
                    </form>

            </div>





        </div>
    </div>
</section>