<section class="page-section image breadcrumbs overlay">
    <div class="container">
        <h1>REGISTER</h1>
        <ul class="breadcrumb">
            <li><a ui-sref="home">Home</a></li>
            <li class="active" >REGISTER</li>
        </ul>
    </div>
</section>

<section class="page-section with-sidebar sidebar-right first-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">

        <div id="form-container">
            <div class="page-header text-center">
                <h2>Become a tutor for FREE</h2>

                <!-- the links to our nested states using relative paths -->
                <!-- add the active class if the state matches our ui-sref -->
                <div id="status-buttons" class="text-center">
                    <a ui-sref-active="active" ui-sref=".account"><span>1</span> Account</a>
                    <a ui-sref-active="active" ui-sref=".profile"><span>2</span> Profile</a>
                    <a ui-sref-active="active" ui-sref=".review"><span>3</span> Review</a>
                </div>
            </div>

            <!-- use ng-submit to catch the form submission and use our Angular function -->

            <form id="signup-form" ng-submit="processForm()">

                <!-- our nested state views will be injected here -->
                <div id="form-views" ui-view></div>
            </form>

        </div>

        <!-- show our formData as it is being typed -->
    <pre>
        {{ formData }}
    </pre>


    </div>
        </div>
    </div>
</section>