<section class="page-section image breadcrumbs overlay">
    <div class="container">
        <h1>Tutors PAGE</h1>
        <ul class="breadcrumb">
            <li><a ui-sref="home">Home</a></li>
            <li class="active" >Tutors</li>
        </ul>
    </div>
</section>


<!-- PAGE -->
<section class="page-section with-sidebar sidebar-right first-section" ng-cloak>
    <div class="container">
    <div class="text-center" ng-if="showError"><h3>Sorry, can not find any tutor.</h3></div>
    <!-- Sidebar -->
    <aside id="sidebar" class="sidebar col-sm-4 col-md-3">
        <div class="widget">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" ng-if="filters">
                <div>
                    <div class="panel panel-default" ng-repeat="(type, values) in filters">
                        <div class="panel-heading" role="tab" id="heading-{{ type }}">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#{{ type }}" aria-expanded="false" aria-controls="collapseOne">
                                    {{ type }}
                                </a>
                            </h4>
                        </div>
                        <div id="{{ type }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-{{ type }}">
                            <div class="panel-body">
                                <div class="checkbox" ng-repeat="option in values">
                                    <label>
                                        <input type="checkbox" ng-if="type == 'gender'" ng-checked="filterChecked('gender', option.key)" ng-click="applyFilter($event, 'gender', option.key)"/>
                                        <span ng-if="type == 'gender'">{{ ::capitalizeFirstLetter(option.key) }}</span>
                                        <input type="checkbox" ng-if="type == 'location'" ng-checked="filterChecked('location', option.geohash)" ng-click="applyFilter($event, 'location', option.geohash)"/>
                                        <span ng-if="type == 'location'">{{ ::capitalizeFirstLetter(option.suburb) }}</span>
                                        <input type="checkbox" ng-if="type == 'subject'" ng-checked="filterChecked('subject', option.id)" ng-click="applyFilter($event, 'subject', option.id)"/>
                                        <span ng-if="type == 'subject'">{{ ::capitalizeFirstLetter(option.subject) }}</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>
    <!-- /Sidebar -->

        <hr class="page-divider transparent visible-xs"/>

        <!-- Content -->
        <section id="content" class="content col-sm-8 col-md-9">
            <div class="listing-meta" ng-if="totalCount > 0">
                <div class="options">
                    <span>Showing&nbsp;<strong>{{ ::(((pagination.currentPage - 1) * pagination.pageSize) + 1) }}</strong>&nbsp;-&nbsp;<strong>{{ ::(((pagination.currentPage - 1) * pagination.pageSize) + tutors.length) }}</strong>&nbsp;of&nbsp;<strong>{{ ::totalCount }}</strong>&nbsp;Tutors</span>
                    <!--Subject and location defined-->
                    <!--<span ng-if="mainQuery.keywords.length > 0 && mainQuery.location.length > 0">{{ ::totalCount }} <strong>{{ capitalizeFirstLetter(mainQuery.keywords) }}</strong> Tutors Found in <strong>{{ capitalizeFirstLetter(mainQuery.location) }}</strong></span>-->
                    <!--Only subject defined-->
                    <!--<span ng-if="mainQuery.keywords.length > 0 && mainQuery.location.length == 0">{{ ::totalCount }} <strong>{{ capitalizeFirstLetter(mainQuery.keywords) }}</strong> Tutors Found</span>-->
                    <!--Only location defined-->
                    <!--<span ng-if="mainQuery.keywords.length == 0 && mainQuery.location.length > 0">{{ ::totalCount }} Tutors Found in <strong>{{ capitalizeFirstLetter(mainQuery.location) }}</strong></span>-->
                    <!--Nothing defined-->
                    <!--<span ng-if="mainQuery.keywords.length == 0 && mainQuery.location.length == 0">{{ ::totalCount }} Tutors Found</span>-->
                </div>
            </div>
            <div class="tab-content">
                <div id="list-view"  class="tab-pane fade active in" role="tabpanel" ng-if="tutors.length > 0">
                    <div class="thumbnails events vertical">

                        <div class="thumbnail no-border no-padding no-radius" ng-repeat-start="tutor in tutors">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="caption">
                                        <h3 class="caption-title"><a href="/tutor/{{ ::tutor.id }}" ng-bind-html="::tutor.name"></a></h3>
                                        <!--<p class="caption-text">{{ ::tutor.gender }}</p>-->
                                        <p class="caption-category"><i class="fa fa-file-text-o"></i>&nbsp;<span ng-bind-html="::tutor.location"></span></p>
                                        <p class="caption-text" ng-bind-html="::tutor.subjects"></p>
                                        <p class="caption-price">{{ ::tutor.rate }}</p>
                                        <p class="caption-text" ng-bind-html="::tutor.description"></p>
                                        <p class="caption-more"><a href="/tutor/{{ ::tutor.id }}" class="btn btn-theme">Tutor Profile & Details</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class="page-divider half" ng-repeat-end/>

                    </div>

                    <!-- Pagination -->
                    <div class="pagination-wrapper" ng-if="pagination.totalPages > 0">
                        <ul class="pagination">
                            <li ng-repeat="pager in pagination.pagers" ng-class="{ 'disabled': pager.disabled, 'active': pager.active }">
                                <!-- First page -->
                                <a ng-if="(pager.type == 'first' || pager.type == 'last') && !pager.disabled" ui-sref="{ page: pager.page }"><i class="fa" ng-class="{ 'fa-angle-double-left': pager.type == 'first', 'fa-angle-double-right': pager.type == 'last' }"></i></a>
                                <span ng-if="(pager.type == 'first' || pager.type == 'last') && pager.disabled"><i class="fa" ng-class="{ 'fa-angle-double-left': pager.type == 'first', 'fa-angle-double-right': pager.type == 'last' }"></i></span>
                                <!-- /First page -->
                                <!-- Previous/Next page -->
                                <a ng-if="(pager.type == 'previous' || pager.type == 'next') && !pager.disabled" ui-sref="{page: pager.page }"><i class="fa" ng-class="{ 'fa-angle-left': pager.type == 'previous', 'fa-angle-right': pager.type == 'next' }"></i></a>
                                <span ng-if="(pager.type == 'previous' || pager.type == 'next') && pager.disabled"><i class="fa" ng-class="{ 'fa-angle-left': pager.type == 'previous', 'fa-angle-right': pager.type == 'next' }"></i></span>
                                <!-- /Previous/Next page -->
                                <!-- Previous/Next page of page -->
                                <a ng-if="pager.type == 'previous-pagers' || pager.type == 'next-pagers'"" ui-sref="{page: pager.page }">...</a>
                                <!-- /Previous/Next page of page -->
                                <!-- Pages -->
                                <span ng-if="pager.type == 'pager' && pager.active" href="#">{{ :: pager.page }}<span class="sr-only">(current)</span></span>
                                <a ng-if="pager.type == 'pager' && !pager.active" ui-sref="{page: pager.page }">{{ :: pager.page }}</a>
                                <!-- /Pages -->
                            </li>
                        </ul>
                    </div>
                    <!-- /Pagination -->
                </div>
            </div>
        </section>
        <!-- /Content -->

    </div>
</section>
<!-- /PAGE -->