<div id="preloader">
    <div id="status">
        <div class="spinner"></div>
    </div>
</div>

<section class="page-section image breadcrumbs overlay">
    <div class="container"></div>
</section>

<!-- PAGE -->
<section class="page-section with-sidebar sidebar-right first-section light">
    <div class="container">

        <!-- Content -->
        <section id="content" class="content col-sm-12 col-md-8 col-lg-9" ng-if="tutor">

            <h1 class="section-title">
                <span class="icon-inner"><span class="fa-stack"><i class="fa rhex fa-stack-2x"></i><i class="fa fa-user fa-stack-1x"></i></span></span>
                <span class="title-inner">{{tutor.name}}</span>
            </h1>
            <div class="row">
              <div class="col-lg-10">
                <table class="table">
                    <tbody>
                      <tr ng-if="tutor.gender"><td>Gender:</td><td>{{tutor.gender}}</td></tr>
                      <tr ng-if="tutor.rate.length"><td>Rate:</td><td>${{tutor.rate.min}} - ${{tutor.rate.max}} per hour</td></tr>
                      <tr ng-if="tutor.contact.email.length > 0"><td>Email:</td><td>{{tutor.contact.email.join(', ')}}</td></tr>
                      <tr ng-if="tutor.locations"><td>Location:</td><td>{{tutor.locations}}</td></tr>
                      <tr ng-if="tutor.subjects"><td>Subjects:</td><td>{{tutor.subjects}}</td></tr>
                      <tr ng-if="tutor.isRegistered && tutor.hasPhone"><td>Phone:</td><td>
                          <show-phone-number tutor-id="{{tutor.id}}"></show-phone-number>
                      </td></tr>
                    </tbody>
                </table>
              </div>
            </div>
            <div class="row">
                <div class="col-lg-11">
                    <p>Descriptions:</p>
                    <p class="text-justify" ng-bind-html="tutor.description | nl2br"></p>
                </div>
            </div>


            <!-- -->
            <hr class="page-divider line large"/>
            <!-- -->

            <h1 class="section-title">
                <span class="icon-inner"><span class="fa-stack"><i class="fa rhex fa-stack-2x"></i><i class="fa fa-ticket fa-stack-1x"></i></span></span>
                <span class="title-inner">Enquiry now <small> / don't miss out your tutor!</small></span>
            </h1>


            <form name="enquiryForm" ng-submit="sendEnquiry()" novalidate>

                <div class="row">

                    <div class="col-sm-12">
                        <div class="form-group with-icon" ng-class="{'has-error': enquiryForm.name.$invalid && enquiryForm.name.$touched}">
                            <i class="fa fa-user"></i>
                            <input
                                    type="text" name="name" id="name" placeholder="Name" size="30"
                                    data-toggle="tooltip" title="Name is required"
                                    ng-model="enquiry.name" required="required"
                                    class="form-control placeholder"/>
                            <div class="text-danger" ng-if="enquiryForm.name.$touched" ng-messages="enquiryForm.name.$error">
                                <small ng-message="required">Please enter a value for this field.</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group with-icon" ng-class="{'has-error': enquiryForm.contact.$invalid && enquiryForm.contact.$touched}">
                            <i class="fa fa-globe"></i>
                            <input
                                    type="text" name="contact" placeholder="Email / Phone number" size="30"
                                     title="Contact method is required"
                                    ng-model="enquiry.contact" required="required"
                                    class="form-control placeholder"/>
                            <div class="text-danger" ng-if="enquiryForm.contact.$touched" ng-messages="enquiryForm.contact.$error">
                                <small ng-message="required">Please enter a value for this field.</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group af-inner" ng-class="{'has-error': enquiryForm.message.$invalid && enquiryForm.message.$touched}">
                                    <textarea
                                            name="message"  placeholder="Message" rows="6" cols="50"
                                            data-toggle="tooltip" title="Message is required"
                                            ng-model="enquiry.message" required="required"
                                            class="form-control placeholder"></textarea>
                        </div>
                    </div>

                    <div class="col-sm-12  text-center">
                        <div class="form-group af-inner">
                            <input type="submit" ng-disabled="enquiryForm.$invalid" class="form-button form-button-submit btn btn-theme btn-theme-lg btn-theme-transparent"  value="Send message" />
                        </div>
                    </div>
                </div>
            </form>


        <hr class="page-divider line large"/>

        <div class="row" ng-if="!tutor.isRegistered">
            <div class="col-lg-11">
                <h3 class="section-title"><span class="title-inner">Is this your profile?</span></h3>
                <p>You can claim this profile and register an account with us by filling in one of the following
                    information</p>
                <form class="" ng-submit="claimTutor(claim)" name="tutorClaim">
                    <div class="row">
                        <div class="form-group col-lg-4">
                            <select name="claimOption" ng-model="claim.option" class="form-control" required
                                    ng-options="key as value for (key, value) in claim.options">
                                <option value="">Please select...</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-5">
                            <input type="text" class="form-control" placeholder="Name/Email/Contact Number"
                                   ng-model="claim.value" required ng-disabled="!claim.option">
                        </div>
                        <div class="form-group col-lg-3">
                            <button type="submit" class="btn btn-theme btn-theme-md btn-theme-transparent"
                                    ng-disabled="tutorClaim.$invalid">Claim this tutor
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        </section>

        <!-- /Content -->
        <!-- Sidebar -->
        <aside id="sidebar" class="sidebar col-sm-4 col-md-3">
            <div class="media">
                <img ng-src="{{'http://www.gotute.com/images/' + tutor.image}}" ng-if="tutor.image">
                <img ng-src="//placeholdit.imgix.net/~text/?txtsize=33&txt=Male&w=150&h=194" ng-if="!tutor.image && tutor.gender && tutor.gender.toLowerCase() == 'male'">
                <img ng-src="//placeholdit.imgix.net/~text/?txtsize=33&txt=Female&w=150&h=194" ng-if="!tutor.image && tutor.gender && tutor.gender.toLowerCase() == 'female'">
                <img ng-src="//placeholdit.imgix.net/~text/?txtsize=33&txt=Institute&w=150&h=194" ng-if="!tutor.image && !tutor.gender">
                <div class="caption hovered"></div>
            </div>
        </aside>
    <!-- /Sidebar -->
    </div>
</section>
<!-- /PAGE -->