<section class="page-section image breadcrumbs overlay">
    <div class="container"></div>
</section>

<div id="preloader">
    <div id="status">
        <div class="spinner"></div>
    </div>
</div>


<!-- PAGE -->
<section class="page-section with-sidebar sidebar-right first-section" ng-cloak>
    <div class="container">
    <div class="text-center" ng-if="showError"><h3>Sorry, currently there's no tutor in your area. Please come back later.</h3></div>
    <!-- Sidebar -->
    <!--<aside id="sidebar" class="sidebar col-sm-4 col-md-3">
        <div class="widget">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" ng-if="filters">
                <div>
                    <div class="panel panel-default" ng-repeat="(type, values) in filters">
                        <div class="panel-heading" role="tab" id="heading-{{ type }}">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#{{ type }}" aria-expanded="false" aria-controls="collapseOne">
                                    {{ type }}
                                </a>
                            </h4>
                        </div>
                        <div id="{{ type }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-{{ type }}">
                            <div class="panel-body">
                                <div class="checkbox" ng-repeat="option in values">
                                    <label>
                                        <input type="checkbox" ng-if="type == 'gender'" ng-checked="filterChecked('gender', option.key)" ng-click="applyFilter($event, 'gender', option.key)"/>
                                        <span ng-if="type == 'gender'">{{ ::capitalizeFirstLetter(option.key) }}</span>
                                        <input type="checkbox" ng-if="type == 'location'" ng-checked="filterChecked('location', option.geohash)" ng-click="applyFilter($event, 'location', option.geohash)"/>
                                        <span ng-if="type == 'location'">{{ ::capitalizeFirstLetter(option.suburb) }}</span>
                                        <input type="checkbox" ng-if="type == 'subject'" ng-checked="filterChecked('subject', option.id)" ng-click="applyFilter($event, 'subject', option.id)"/>
                                        <span ng-if="type == 'subject'">{{ ::capitalizeFirstLetter(option.subject) }}</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>-->
    <!-- /Sidebar -->

        <!--<hr class="page-divider transparent visible-xs"/>-->

        <!-- Content -->
        <!--<section id="content" class="content col-sm-8 col-md-9">-->
        <section id="content" class="content col-sm-12">
            <div class="listing-meta" ng-if="totalCount > 0">
                <div class="filters">
                    <span ng-repeat="filter in filtersAlt">
                        {{ ::filter.text }}&nbsp;<a href="javascript:;" ng-click="removeFiltersAlt(filter)"><i class="fa fa-times-circle"></i></a>
                    </span>
                </div>
                <div class="options hidden-xs">
                    <span><span>Showing&nbsp;</span><strong>{{ ::(((pagination.currentPage - 1) * pagination.pageSize) + 1) }}</strong>&nbsp;-&nbsp;<strong>{{ ::(((pagination.currentPage - 1) * pagination.pageSize) + tutors.length) }}</strong>&nbsp;of&nbsp;<strong>{{ ::totalCount }}</strong><span>&nbsp;Tutors</span></span>
                </div>
            </div>
            <div class="tab-content">
                <div id="list-view"  class="tab-pane fade active in" role="tabpanel" ng-if="tutors.length > 0">
                    <div class="thumbnails events vertical">
                        <div class="thumbnail no-border no-padding no-radius" ng-repeat-start="tutor in tutors">
                            <div class="row">
                                <div class="col-md-2 hidden-sm hidden-xs">
                                    <tutor-image gender="{{tutor.gender}}" image="{{tutor.image}}" tutor-id="{{tutor.id}}"></tutor-image>
                                </div>
                                <div class="col-md-8 col-sm-9 col-xs-12">
                                    <div class="caption">
                                        <h3 class="caption-title"><a ui-sref="tutor({tutorId: tutor.id})" ng-bind-html="::tutor.name"></a></h3>
                                        <!--<p class="caption-text">{{ ::tutor.gender }}</p>-->
                                        <p class="caption-category visible-xs-block"><i class="fa fa-map-marker"></i>&nbsp;<span ng-bind-html="::tutor.location"></span></p>
                                        <p class="caption-text"><i class="fa fa-graduation-cap"></i>&nbsp;<span ng-bind-html="::tutor.subjects | highlight : mainQuery.keywords"></span></p>
                                        <p class="caption-price visible-xs-block" ng-if="tutor.rate">{{ ::tutor.rate }} / Hour</p>
                                        <p class="caption-text" ng-bind-html="::tutor.description | highlight : mainQuery.keywords : mainQuery.location"></p>
                                        <p class="caption-more visible-xs-block"><a ui-sref="tutor({tutorId: tutor.id})" class="btn btn-theme btn-block">Tutor Details</a></p>
                                    </div>
                                </div>
                                <!--<div class="col-md-2 col-sm-3 hidden-xs">-->
                                    <!--<div class="caption">-->
                                        <!--<p class="caption-text"></p>-->
                                        <!--<p class="caption-category"><i class="fa fa-map-marker"></i>&nbsp;<span ng-bind-html="::tutor.location"></span></p>-->
                                        <!--<p class="caption-price" ng-if="tutor.rate">{{ ::tutor.rate }} / Hour</p>-->
                                        <!--<p class="caption-text"></p>-->
                                        <!--<p class="caption-more visible-sm-block"><a ui-sref="tutor({tutorId: tutor.id})" class="btn btn-theme btn-block">Tutor Details</a></p>-->
                                    <!--</div>-->
                                <!--</div>-->
                            </div>
                        </div>
                        <hr class="page-divider half" ng-repeat-end/>
                    </div>

                    <!-- Pagination -->
                    <!-- Pagination for tablets and desktops -->
                    <div class="pagination-wrapper hidden-xs" ng-if="pagination.totalPages > 0">
                        <ul class="pagination">
                            <li ng-repeat="pager in pagination.pagers" ng-class="{ 'disabled': pager.disabled, 'active': pager.active }">
                                <!-- First page -->
                                <a ng-if="(pager.type == 'first' || pager.type == 'last') && !pager.disabled" ui-sref="{ page: pager.page }"><i class="fa" ng-class="{ 'fa-angle-double-left': pager.type == 'first', 'fa-angle-double-right': pager.type == 'last' }"></i></a>
                                <span ng-if="(pager.type == 'first' || pager.type == 'last') && pager.disabled"><i class="fa" ng-class="{ 'fa-angle-double-left': pager.type == 'first', 'fa-angle-double-right': pager.type == 'last' }"></i></span>
                                <!-- /First page -->
                                <!-- Previous/Next page -->
                                <a ng-if="(pager.type == 'previous' || pager.type == 'next') && !pager.disabled" ui-sref="{page: pager.page }"><i class="fa" ng-class="{ 'fa-angle-left': pager.type == 'previous', 'fa-angle-right': pager.type == 'next' }"></i></a>
                                <span ng-if="(pager.type == 'previous' || pager.type == 'next') && pager.disabled"><i class="fa" ng-class="{ 'fa-angle-left': pager.type == 'previous', 'fa-angle-right': pager.type == 'next' }"></i></span>
                                <!-- /Previous/Next page -->
                                <!-- Previous/Next page of page -->
                                <a ng-if="pager.type == 'previous-pagers' || pager.type == 'next-pagers'"" ui-sref="{page: pager.page }">...</a>
                                <!-- /Previous/Next page of page -->
                                <!-- Pages -->
                                <span ng-if="pager.type == 'pager' && pager.active" href="#">{{ :: pager.page }}<span class="sr-only">(current)</span></span>
                                <a ng-if="pager.type == 'pager' && !pager.active" ui-sref="{page: pager.page }">{{ :: pager.page }}</a>
                                <!-- /Pages -->
                            </li>
                        </ul>
                    </div>
                    <!-- Pagination for phones -->
                    <div class="pagination-wrapper visible-xs-block" ng-if="pagination.totalPages > 1">
                        <ul class="pagination">
                            <li ng-if="pagination.currentPage > 1">
                                <a ui-sref="{page: pagination.currentPage - 1 }"><i class="fa fa-angle-left"></i>&nbsp;Previous</a>
                            </li>
                            <li ng-if="pagination.currentPage < pagination.totalPages">
                                <a ui-sref="{page: pagination.currentPage + 1 }">Next&nbsp;<i class="fa fa-angle-right"></i></a>
                            </li>
                        </ul>
                    </div>
                    <!-- /Pagination -->
                </div>
            </div>
        </section>
        <!-- /Content -->

    </div>
</section>
<!-- /PAGE -->