<section class="page-section image breadcrumbs overlay">
    <div class="container">
        <h1>TUTOR DETAIL PAGE</h1>
        <ul class="breadcrumb">
            <li><a ui-sref="home"></a>Home</li>
            <li><a ui-sref="tutors"></a>Tutors</li>
            <li class="active">Tutor Detail Page</li>
        </ul>
    </div>
</section>


<!-- PAGE -->
<section class="page-section with-sidebar sidebar-right first-section light">
    <div class="container">

        <!-- Content -->
        <section id="content" class="content col-sm-12 col-md-8 col-lg-9">

            <h1 class="section-title">
                <span class="icon-inner"><span class="fa-stack"><i class="fa rhex fa-stack-2x"></i><i class="fa fa-user fa-stack-1x"></i></span></span>
                <span class="title-inner">{{tutor.name}}
            </h1>
            <div class="row">
            <div class="col-lg-10">
               <table class="table">
                   <tbody>
                    <tr><td>Gender:</td><td>{{tutor.gender}}</td></tr>
                    <tr><td>Rate:</td><td>${{tutor.rate.min}} - ${{tutor.rate.max}} per hour</td></tr>
                    <tr ng-if="tutor.contact.email.length > 0"><td>Email:</td><td>{{tutor.contact.email.join(', ')}}</td></tr>
                    <tr><td>Location:</td><td>Melbourne</td></tr>
                    <tr><td>Subjects:</td><td>{{tutor.subjects.join(', ')}}</td></tr>
                   </tbody>
               </table>
            </div>
            </div>
            <div class="row">
                <div class="col-lg-11">
                    <p>Descriptions:</p>
                    <p class="text-justify" ng-bind-html="tutor.description | nl2br"></p>
                </div>
            </div>
            <!-- -->
            <hr class="page-divider line large"/>
            <!-- -->

            <h1 class="section-title">
                <span class="icon-inner"><span class="fa-stack"><i class="fa rhex fa-stack-2x"></i><i class="fa fa-ticket fa-stack-1x"></i></span></span>
                <span class="title-inner">Enquiry now <small> / don't mıss your tutor!</small></span>
            </h1>


            <form class="row" name="enquiryForm" ng-submit="sendEnquiry()" novalidate>

                <div class="row">

                    <div class="col-sm-12 af-outer af-required">
                        <div class="form-group af-inner with-icon">
                            <i class="fa fa-user"></i>
                            <input
                                    type="text" name="name" id="name" placeholder="Name" size="30"
                                    data-toggle="tooltip" title="Name is required"
                                    ng-model="enquiry.name" required="required"
                                    class="form-control placeholder"/>
                        </div>
                    </div>

                    <div class="col-sm-12 af-outer af-required">
                        <div class="form-group af-inner with-icon">
                            <i class="fa fa-globe"></i>
                            <input
                                    type="email" name="email" id="email" placeholder="Email" size="30"
                                    data-toggle="tooltip" title="Email is required"
                                    ng-model="enquiry.contact" required="required"
                                    class="form-control placeholder"/>
                        </div>
                    </div>

                    <div class="col-sm-12 af-outer af-required">
                        <div class="form-group af-inner with-icon">
                            <i class="fa fa-globe"></i>
                            <input
                                    type="text" name="subject" id="subject" placeholder="Subject" size="30"
                                    data-toggle="tooltip" title="Subject is required"
                                    ng-model="enquiry.subject" required="required"
                                    class="form-control placeholder"/>
                        </div>
                    </div>

                    <div class="col-sm-12 af-outer af-required">
                        <div class="form-group af-inner">
                                    <textarea
                                            name="message" id="input-message" placeholder="Message" rows="6" cols="50"
                                            data-toggle="tooltip" title="Message is required"
                                            ng-model="enquiry.message" required="required"
                                            class="form-control placeholder"></textarea>
                        </div>
                    </div>

                    <div class="col-sm-12  text-center">
                        <div class="form-group af-inner">
                            <input type="submit" ng-disabled="enquiryForm.$invalid" class="form-button form-button-submit btn btn-theme btn-theme-lg btn-theme-transparent"  value="Send message" />
                        </div>
                    </div>
                </div>
            </form>

        </section>
        <!-- /Content -->

        <hr class="page-divider transparent visible-xs"/>

        <!-- Sidebar -->
        <aside id="sidebar" class="sidebar col-sm-4 col-md-3">

            <div class="widget google-map-widget">
                <!-- Google map -->
                <div class="google-map1">
                    <div style="background: grey"></div>
                </div>

            </div>

<!--            <div class="widget google-map-widget">
                &lt;!&ndash; Google map &ndash;&gt;
                <div class="google-map1">
                    <div id="map-canvas1" style="background: grey"></div>
                </div>
                &lt;!&ndash; /Google map &ndash;&gt;
                <a href="#" class="link"><i class="fa fa-map-marker"></i> ISTANBUL, TURKEY</a>
            </div>-->

        </aside>
        <!-- /Sidebar -->
    </div>
</section>
<!-- /PAGE -->