<section class="page-section image breadcrumbs overlay">
    <div class="container"></div>
</section>


<!-- PAGE -->
<section class="page-section with-sidebar sidebar-right first-section light">
    <div class="container">

        <!-- Content -->
        <section id="content" class="content col-sm-12 col-md-8 col-lg-9" ng-if="tutor">

            <h1 class="section-title">
                <span class="icon-inner"><span class="fa-stack"><i class="fa rhex fa-stack-2x"></i><i class="fa fa-user fa-stack-1x"></i></span></span>
                <span class="title-inner">{{tutor.name}}
            </h1>
            <div class="row">
              <div class="col-lg-10">
                <table class="table">
                    <tbody>
                      <tr ng-if="tutor.gender"><td>Gender:</td><td>{{tutor.gender}}</td></tr>
                      <tr ng-if="tutor.rate.length"><td>Rate:</td><td>${{tutor.rate.min}} - ${{tutor.rate.max}} per hour</td></tr>
                      <tr ng-if="tutor.contact.email.length > 0"><td>Email:</td><td>{{tutor.contact.email.join(', ')}}</td></tr>
                      <tr ng-if="tutor.locations"><td>Location:</td><td>{{tutor.locations}}</td></tr>
                      <tr ng-if="tutor.subjects"><td>Subjects:</td><td>{{tutor.subjects}}</td></tr>
                    </tbody>
                </table>
              </div>
            </div>
            <div class="row">
                <div class="col-lg-11">
                    <p>Descriptions:</p>
                    <p class="text-justify" ng-bind-html="tutor.description | nl2br"></p>
                </div>
            </div>


            <!-- -->
            <hr class="page-divider line large"/>
            <!-- -->

            <h1 class="section-title">
                <span class="icon-inner"><span class="fa-stack"><i class="fa rhex fa-stack-2x"></i><i class="fa fa-ticket fa-stack-1x"></i></span></span>
                <span class="title-inner">Enquiry now <small> / don't miss out your tutor!</small></span>
            </h1>


            <form class="row" name="enquiryForm" ng-submit="sendEnquiry()" novalidate>

                <div class="row">

                    <div class="col-sm-12 af-outer af-required">
                        <div class="form-group af-inner with-icon">
                            <i class="fa fa-user"></i>
                            <input
                                    type="text" name="name" id="name" placeholder="Name" size="30"
                                    data-toggle="tooltip" title="Name is required"
                                    ng-model="enquiry.name" required="required"
                                    class="form-control placeholder"/>
                        </div>
                    </div>

                    <div class="col-sm-12 af-outer af-required">
                        <div class="form-group af-inner with-icon">
                            <i class="fa fa-globe"></i>
                            <input
                                    type="text" name="email" id="email" placeholder="Email / Phone number" size="30"
                                    data-toggle="tooltip" title="Contact method is required"
                                    ng-model="enquiry.contact" required="required"
                                    class="form-control placeholder"/>
                        </div>
                    </div>

                    <div class="col-sm-12 af-outer af-required">
                        <div class="form-group af-inner">
                                    <textarea
                                            name="message" id="input-message" placeholder="Message" rows="6" cols="50"
                                            data-toggle="tooltip" title="Message is required"
                                            ng-model="enquiry.message" required="required"
                                            class="form-control placeholder"></textarea>
                        </div>
                    </div>

                    <div class="col-sm-12  text-center">
                        <div class="form-group af-inner">
                            <input type="submit" ng-disabled="enquiryForm.$invalid" class="form-button form-button-submit btn btn-theme btn-theme-lg btn-theme-transparent"  value="Send message" />
                        </div>
                    </div>
                </div>
            </form>


        <hr class="page-divider line large"/>

        <div class="row" ng-if="!tutor.isRegistered">
            <div class="col-lg-11">

                <h3 class="section-title"><span class="title-inner">Is this your profile?</span></h3>
                    <p>You can claim this profile and register an account with us by filling in one of the following information</p>
                <form class="" ng-submit="claimTutor(claim)" name="tutorClaim">
                    <div class="row">
                        <div class="col-lg-12">

                            <div class="radio">
                                <label>
                                    <input type="radio" name="claimOption" value="fullname" ng-model="claim.option" checked＝"checked" required>
                                    Full Name
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="claimOption" value="email" ng-model="claim.option" required>
                                    Email    
                                </label>
                            </div>
                            <div class="radio disabled">
                                <label>
                                    <input type="radio" name="claimOption" value="phone" ng-model="claim.option" required>
                                    Contact Number
                                </label>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control"  placeholder="Full Name/Email/Contact Number" ng-model="claim.value" required>
                    </div>

                    <button type="submit" class="btn btn-theme btn-theme-md btn-theme-transparent" ng-disabled="tutorClaim.$invalid">Claim this tutor</button>
                </form>
            </div>
        </div>
        </section>

        <!-- /Content -->


        <!--&lt;!&ndash; Sidebar &ndash;&gt;-->
        <!--<aside id="sidebar" class="sidebar col-sm-4 col-md-3">-->

            <!--<div class="widget google-map-widget">-->
                <!--&lt;!&ndash; Google map &ndash;&gt;-->
                <!--<div class="google-map1">-->
                    <!--<div style="background: grey"></div>-->
                <!--</div>-->

            <!--</div>-->

<!--&lt;!&ndash;            <div class="widget google-map-widget">-->
                <!--&lt;!&ndash; Google map &ndash;&gt;-->
                <!--<div class="google-map1">-->
                    <!--<div id="map-canvas1" style="background: grey"></div>-->
                <!--</div>-->
                <!--&lt;!&ndash; /Google map &ndash;&gt;-->
                <!--<a href="#" class="link"><i class="fa fa-map-marker"></i> ISTANBUL, TURKEY</a>-->
            <!--</div>&ndash;&gt;-->

        <!--</aside>-->
        <!--&lt;!&ndash; /Sidebar &ndash;&gt;-->
    </div>
</section>
<!-- /PAGE -->