<div class="cropArea text-center">
    <img src="{{ tutorImageUrl }}" ng-if="!originImage" />
    <img-crop image="originImage" result-blob="croppedImage" url-blob="croppedImageUri"
              area-type="square" on-load-done="onImageLoaded()" ng-show="originImage"></img-crop>
</div>
<br/>
<div class="text-center">
    <div class="btn btn-theme btn-theme-sm btn-file" ng-if="!originImage">
        Select photo<input type="file" accept="image/*" nv-file-select uploader="uploader" />
    </div>

    <div ng-if="originImage">
        <button gt-action="upload()" class="btn btn-theme btn-theme-sm btn-file">
            Upload
        </button>
        <button ng-if="originImage" ng-click="cancel()" class="btn btn-theme btn-theme-sm btn-file">
            Cancel
        </button>
    </div>
</div>
<br/>
<div class="text-center">
    <img ng-src="{{croppedImageUri}}" gt-load="onCropped()" class="thumb" ng-show="originImage"/>
</div>