<div id="main" xmlns="http://www.w3.org/1999/html">
    <!-- SLIDER -->
    <section class="page-section no-padding background-img-slider">
        <div class="container">

            <div id="main-slider" class="owl-carousel owl-theme owl-loaded">
                <!-- Slide -->
                <div class="item page text-center">
                    <div class="caption">
                        <div class="container">
                            <div class="div-table">
                                <div class="div-cell">
                                    <h3 class="caption-subtitle">Australia’s No. 1 Tutor Site</h3>
                                    <h4 class="caption-hint">You Can Find Tutors of Maths, IELTS, Science and more, Start Search Now</h4>

                                    <div class="row">
                                        <div class="col-md-11 col-lg-11 col-lg-offset-1 col-md-offset-1">
                                            <form class="location-search" novalidate name="searchForm">
                                                <div class="col-md-5 col-lg-5">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control"
                                                               placeholder="Find subject (e.g. Maths, Chemistry)"
                                                               name="subject"
                                                               ng-model="subject" required="required"
                                                               uib-typeahead="subject as subject.text for subject in getSubjects($viewValue)"
                                                               autocomplete="off"/>
                                                    </div>
                                                </div>
                                                <div class="col-md-5 col-lg-5">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control"
                                                               placeholder="Find Location (e.g. Sydney, Queensland)"
                                                               name="location"
                                                               ng-model="location"
                                                               uib-typeahead="location as location.text for location in getLocations($viewValue)"
                                                               required="required"
                                                               autocomplete="off"/>
                                                    </div>
                                                </div>
                                                <div class="col-md-1 col-lg-1">
                                                    <button class="btn btn-block btn-theme btn-theme-md" ng-click="searchTutors()"><i
                                                            class="glyphicon glyphicon-search"></i></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /SLIDER -->
    <section class="page-section">
        <div class="container">
            <h1 class="section-title">
                <span class="icon-inner"><span class="fa-stack"><i class="fa rhex fa-stack-2x"></i><i class="fa fa-user fa-stack-1x"></i></span></span>
                <span class="title-inner">Recommended Tutors</span>
            </h1>

            <div class="row thumbnails events vertical">

                <div class="col-md-6 col-sm-6" ng-repeat="tutor in recommendedTutors">
                    <div class="thumbnail no-border no-padding">
                        <div class="row">
                            <div class="col-md-4">
                                <tutor-image gender="{{tutor.gender}}" image="{{tutor.image}}" tutor-id="{{tutor.id}}"></tutor-image>
                            </div>
                            <div class="col-md-8">
                                <div class="caption">
                                    <h3 class="caption-title"><a ui-sref="tutor({tutorId:tutor.id})">{{tutor.name}}</a></h3>
                                    <p class="caption-category max-line-1"><i class="fa fa-file-text-o"></i> {{tutor.subjects}}</p>
                                    <p class="caption-text max-line-2 line-2">{{tutor.location}}</p>
                                    <p class="caption-text max-line-2 line-2">{{tutor.description}}</p>
                                    <p class="caption-more"><a ui-sref="tutor({tutorId:tutor.id})" class="btn btn-theme">View details</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

